<h1>Update Record</h1>

<div id="business-form">
	<h2><i><%= @business.name %></i></h2>
	<%= render 'form', business: @business %>

	<%= link_to 'Show', @business %> |
	<%= link_to 'Back', businesses_path %>
</div>