<h1>Businesses</h1>

<%= render :partial => "layouts/categories", :locals => { :items => @categories, :attribute => "category"} %>

<div class="business-results">
  <% @businesses.each do |business| %>
		<%= render :partial => "layouts/business-results", :locals => { :business => business } %>
	<%end%>
</div>
