<p id="notice"><%= notice %></p>

<h1>Subcategories</h1>

<p>
	<strong>Businesses</strong>
</p>
<%= render :partial => "layouts/categories", :locals => { :categories => @subcategories } %>
<%= link_to 'Back', subcategories_path %>
