<p id="notice"><%= notice %></p>

<h1>Subcategories</h1>

<p>
	<strong>Businesses</strong>
</p>
<div>
	<% @subcategories.each do |subcat| %>
	  <tr>
	    <td><%= link_to subcat.name, subcat %></td>
	  </tr>
	<% end %>
</div>
<%= link_to 'Back', subcategories_path %>
