<div class="categories">
	<% items.each do |item| %>
		<div class="category-tile">
			<%= link_to item.category, "/businesses?filter[attribute]=category&filter[value]=#{item.category}", class: "category-button" %>
		</div>
	<%end%>
</div>
